* {
    font: 15px/24px sans-serif;
    margin: 0;
    padding: 0;
}

#prizes {
    margin: 50px auto;
    max-width: 600px;
}

#prizes h3 {
    background: #ffe5cc;
    border: solid 1px #ffcc99;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 30px;
}

#prizes h3 span {
    color: #cc6600;
    left: -20px;
    position: relative;
}

#prizes div p {
    background: #fff;
    border: solid 1px #ffcc99;
    border-radius: 5px;
    padding: 30px;
}
